{% extends 'navigation.html' %}
{% load static %}
{% block a %}
<style>
    input[type=text][type=password]{
    border-radius:8px;


    }
</style>


<div style="color:Black;border:1px solid white;border-radius:8px;background-color:white;padding:50px">

    <h3><strong>Contact Us</strong></h3><hr>
    <form method="post" action="">
        {% csrf_token %}
        User Name:<br><input type="text" required class= "form-control" placeholder="Enter user name" name="uname" style="border-radius:8px;"><br><br>
        Your Email:<br><input type="email" required class= "form-control" placeholder="Enter email" name="email" style="border-radius:8px;"><br><br>
        Your Message:<br><textarea  name="message" required class= "form-control" style="border-radius:8px;"></textarea><br><br>
        <input type="submit" value="Send Feedback" class= "form-control" style="color:white;border-radius:8px;width:125px;height:35px;background-color:#333;border:1px solid black">
    </form>


    </div>




{% endblock %}
