<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Train Ticket Booking</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    input[type=text][type=password]{
    border-radius:8px;
    width:600px;
    height:16px;
    }
        h1{margin:0px;padding-top:7px;padding-buttom:7px;color:white;}
    </style>

</head>
<body style="background-color:hsl(0, 0%, 47%);margin-left:50px;margin-right:50px;margin-bottom:20px">

    <h1 style="background-color: #333;border-radius:10px;"><strong><font size="16">T</font>rain <font size="16">T</font>ICKET <font size="16">B</font>OOKING <font size="16">S</font>YSTEM
    </strong></h1>

</body>
{% block body %}
{% endblock %}



</html>
