{% extends 'head.html' %}
{% load static %}
{% block body %}
<link rel = stylesheet href = "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
  </script>

<style>
.id2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
   border-radius:10px;
  border:1px solid #bbb;

}

.id1 {
  float: left;
  border-right:1px solid #bbb;
}
.id2 {

  float: left;
  border-left:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
   border-radius:10px;
}

.active {
  background-color: #4CAF50;
  border-radius:10px;
}
</style>

<ul class="id2">
  <li class="id1"><a href="{% url 'dashboard' %}">Dashboard</a></li>
  <li class="id1"><a href="{% url 'search_train' %}">Search Train</a></li>
  <li class="id1"><a href="{% url 'my_booking' %}">My Booking</a></li>
  <li class="id1"><a href="{% url 'log_out' %}">Logout</a></li>
    <li class="id2" style="margin-left:680px"><a href="" style="color:white"><strong style="font-size:18px;font-family:cursive">Welcome {{request.user.username}}</strong></a></li>
</ul>
{% block b %}
{% endblock %}



{% endblock %}
