
{% extends 'navigation3.html' %}
{% load static %}
{% block b %}





<style>
    input[type=text][type=password]{
    border-radius:8px;
    width:600px;
    height:16px;
    }
</style>



<div style="color:Black;border:1px solid white;border-radius:8px;background-color:white;padding:50px">
        <h3><strong>Booking Details</strong></h3><hr>

<div class="container">
<table class="table table-bordered" id="myTable">
  <thead style="color:white;background-color:#333">
  <tr>
    <th>Sr No</th>
    <th>Passenger</th>
      <th>Train Name & No.</th>
      <th>Age</th>
    <th>Gender</th>
    <th>Date</th>
       <th>Fare</th>
       <th>Travelling</th>


  </tr>
  </thead>
   <tbody>

    {% for i in book %}

  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.passenger.name}}</td>
    <td>{{i.passenger.train.trainname}}. {{i.passenger.train.train_no}}</td>
      <td>{{i.passenger.age}}</td>
      <td>{{i.passenger.gender}}</td>
      <td>{{i.passenger.date1}}</td>
      <td>{{i.fare}}</td>
      <td>{{i.route}}</td>
<!--
    <td><a href="{% url 'deletebooking' i.passenger.id %}" style="color:red"><u>Delete</u></a></td>
-->
  </tr>

    {% endfor %}
    </tbody>
</table>

 </div>

</div>

{% endblock %}
